/* Tags */
body {
    min-width:320px;
}

/* IDs */


/* Solo Classes */
/*
.loginDiv {
    float:right;
    font-size: 12px;
    padding: 0px;
    width: 260px
}

.loginDiv  input{
    width:100px;
}

.loginDiv  *{
    display: inline-block;
}
*/



.shoppingCartIcon {
    top:60px;
}

.topBanner {
    border-bottom: 2px solid black;
    height:120px;
    padding-top: 20px;
    position: relative;
}


/* Utilities */
.hidden {
    display: none;
}